<a href="https://colab.research.google.com/github/ccmkaaa/colab/blob/main/dz/pandas_dz_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ratings = r'S:\Downloads\JupyterNotebook\data\dz pandas\dz pandas 3\ml-latest-small\ratings.csv'
visit_logs = r'S:\Downloads\JupyterNotebook\data\dz pandas\dz pandas 3\visit_log.csv'
URLs = r'S:\Downloads\JupyterNotebook\data\dz pandas\dz pandas 3\URLs.txt'

In [ ]:
import pandas as pd

In [ ]:
df_visit_logs = pd.read_csv(visit_logs, sep=';')
df_visit_logs

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex
...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email

In [ ]:
# 1-ое Задание

df_visit_logs.loc[
    (df_visit_logs['traffic_source'] == 'google')  | 
    (df_visit_logs['traffic_source'] == 'yandex'), 'source_type'] = 'organic'         # organic 
    # df_visit_logs.loc[df_visit_logs.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic'

df_visit_logs.loc[
    ((df_visit_logs['traffic_source'] == 'paid')  | 
    (df_visit_logs['traffic_source'] == 'email')) & (df_visit_logs['region'] == 'Russia'), 'source_type'] = 'ad'  # ad

df_visit_logs.loc[
    ((df_visit_logs['traffic_source'] == 'paid')  | 
    (df_visit_logs['traffic_source'] == 'email')) & ~(df_visit_logs['region'] == 'Russia'), 'source_type'] = 'other'  # other

df_visit_logs.loc[(df_visit_logs['source_type']).isna(), 'source_type'] = df_visit_logs['traffic_source']   # fill na by traffic_sorce

In [ ]:
df_visit_logs

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

In [ ]:
# 2-ое Задание

import regex as re
df_URLs = pd.read_csv(URLs)

In [ ]:
df_URLs[df_URLs.url.str.contains(r'\b\/\d{8}-\b')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

In [ ]:
# 3-ье Задание

import pandasql as ps

df_ratings = pd.read_csv(ratings)
df_ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
df_count_ratings = df_ratings.groupby(['userId'])['rating'].count().reset_index(name='count_ratings') # table to count ratings
df_count_ratings = df_count_ratings[(df_count_ratings['count_ratings'] > 100)]                        # and sort it

In [ ]:
def min_max(df):
    return df['timestamp'].max() - df['timestamp'].min()                                         # agg func

df_users_timestamp = df_ratings.groupby(['userId']).apply(min_max).reset_index(name='diff')      # table to get diff timestamp

In [ ]:
df_merge = pd.merge(left=df_count_ratings, right=df_users_timestamp, left_on='userId', right_on='userId')    # merge them

In [ ]:
from datetime import datetime
from datetime import date

timestamp = int(str(round(df_merge['diff'].mean())))               # get timestamp
str(datetime.utcfromtimestamp(timestamp) - datetime(1970, 1, 1))   # avg user live time

'463 days, 21:28:27'

In [ ]:
# 4-ое Задание

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

transfer_df = [rzd, auto, air]

In [ ]:
from functools import reduce                                                   # 1-ая часть

df_merged_transfer = reduce(lambda left, right: pd.merge(left, right, on='client_id', how='outer'), transfer_df)  
df_merged_transfer.groupby('client_id').sum()

           rzd_revenue  auto_revenue  air_revenue
client_id
111             1093.0           0.0          0.0
112             2810.0           0.0          0.0
113            10283.0       57483.0          0.0
114             5774.0          83.0          0.0
115              981.0         912.0         81.0
116                0.0        4834.0          4.0
117                0.0          98.0         13.0
118                0.0           0.0        173.0

In [ ]:
df_merged_tf_cb =  pd.merge(df_merged_transfer, client_base, on='client_id', how='outer')    # 2-ая часть
df_merged_tf_cb.fillna(0.0)

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4